@import url("assets/navigation.css");

:root {
	color-scheme: light dark; /* both supported */
}

@media (prefers-color-scheme: light) {
	body {
		background: #c4c4c4;
		color: #1a1a1a;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: #1a1a1a;
		color: #c4c4c4;
	}
	img {
    	filter: brightness(.8) contrast(1.2);
  	}
}

html[theme='dark-mode'] {
    filter: invert(1) hue-rotate(180deg);
}

html, body {
	height: 100%;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	transition: color 300ms, background-color 300ms;
	scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

a {
	text-decoration: none;
}