@import url('assets/vendor/fontawesome.min.css');
@import url('assets/vendor/all.min.css');

:root {
	color-scheme: light dark; /* both supported */
}

@media (prefers-color-scheme: light) {
	body {
		background: #c4c4c4 !important;
		color: #1a1a1a !important;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: #1a1a1a !important;
		color: #c4c4c4 !important;
	}
	img {
    	filter: brightness(.8) contrast(1.2) !important;
  	}
}


html, body {
	height: 100%;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
	scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

a {
	text-decoration: none;
}